@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&family=Quicksand&family=Raleway:wght@700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:wght@700&display=swap');
body{
    margin: 0;
    padding: 0;
}
title img{
    width: 1.25rem;
}
.header-section{
    background: rgb(255, 189, 155);
    padding: 0.9375rem 3.125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto 0;
}
.second-toggler{
    display: none;
}
.nav-color{
    background: rgb(255, 189, 155);
}
#navbar-content{
    list-style: none;
    display: flex;
}
.page-logo img{
    width: 6.25rem;
    box-shadow: 1px 1px 3px rgb(0, 0, 0);
}
#navbar-content li{
    margin: 0.625rem;
}
#navbar-content li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 0.625rem;
}
#navbar-content li a:hover{
    background: rgb(249, 249, 249);
    border-radius: 0.625rem;
}
#navbar-content li a:active{
    background: rgb(255, 255, 255);
}
#search-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(82, 51, 83);
}
#search-bar a{
    text-decoration: none;
    padding: 0.625rem 1.25rem;
    margin: 0.625rem;
    font-family: "Raleway", san-serif;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    border-width: 0.5rem;
    background: rgb(255, 255, 255);
    border-radius: 0.625rem;
}
#search-bar a:hover{
    background: #3d405b;
    border-radius: 0.625rem;
    color: rgb(255, 255, 255);
}
#toggler-nav-btn a:hover{
    background: #3d405b;
    border-radius: 0.625rem;
    color: rgb(255, 255, 255);
}
#toggler-nav-btn a{
text-decoration: none;
    padding: 0.125rem 0.75rem;
    margin: 0.625rem;
    font-family: "Raleway", san-serif;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    border-width: 0.5rem;
    background: rgb(255, 255, 255);
    border-radius: 0.625rem;
}
#search-bar form{
    padding: 0.75rem 1.875rem;
    width: 25%;
}
.navlinks a{
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
}
#first-slide-caption{
    font-family: "Oleo Script", sans-serif;
    font-size: 5rem;
    color: rgb(28, 10, 0);
}
#Second-slide-caption{
    font-family: "Oleo Script", sans-serif;
    font-size: 9.375rem;
    color: rgb(0, 0, 5);
}
#first-slide-p{
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    color: rgb(80, 10, 30);
}
#second-slide-p{
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    color: rgb(242,235,233);
}
.slider-btn{
    margin: 1.875rem auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider-btn a{
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    padding: 0.625rem;
    background: rgb(42, 53, 99);
    color: rgb(29, 214, 206);
    border-radius: 3.125rem;
    box-shadow: 1px 1px 3px white;
}
.slider-btn a:hover{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.h5{
    background: rgba(210,1,27,0.1);
    padding: 1.5rem;
    border-radius: 62.5rem;
    margin: 5rem;
}
.h4{
    background: rgba(54, 67, 90, 0.2);
    border-radius:6.25rem ;
    padding: 1.5rem;
}
#services li{
    background-color: rgba(83, 51, 82, 0.2);
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: 1px 1px 4px rgb(28,10,0);
    text-align: center;
    position: relative;
}
#services{
    text-align: center;
    padding: 24px;
    background: rgb(249,249,249);
    scroll-behavior: smooth;
}
.services-content{
    width: 400px;
    height: 400px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#services-heading{
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    text-shadow: 1px 1px 4px blue;
}
.services-content h2{
    width: fit-content;
    font-family: "Oleo Script", sans-serif;
    font-size: 25px;

}
.services-content p{
    font-family: "Raleway", sans-serif;
    color: rgb(42,53,99);
}
.services-content h2:hover{
    border-bottom: 3px solid rgb(42,53,99);
}
.services-content a{
    padding: 8px;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.learn-more{
    padding: 5px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    background: white;
    border-radius: 50px;
    padding: 5px;
}
.learn-more:hover{
    background: rgb(255, 189, 155);
    border-radius: 50px;
    padding: 5px;
}
.process{
    background: rgb(237, 255, 254);
    width: auto 0;
    height: 43.75rem;
    padding: 24px;
}
.pr-ctn{
    height: 43.75rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
.pr-ctn img{
    width: 43.75rem;
    grid-row: 1 / span 2;
    border-radius: 20px;
    box-shadow: 1px 1px 4px black;

}
#pr-pr{
    padding: 10px 20px;
}
.title h2{
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 4px blue;

}
.pr{
    font-family: "Raleway", sans-serif;
}
.pr h4{
    font-family: "Oleo Script", sans-serif;
}
.pr h4 svg{
    width: 3.125rem;
}
#pr-on{
    position: relative;
    bottom: 400px;
    background: rgba(246, 118, 16, 0.1);
    padding: 10px 40px;
    border-radius: 110px;
    
}
#pr-on:hover{
    background: rgba(36, 13, 2, 0.144);

}
#pr-qd{
    padding: 24px;
    border-radius: 110px;
}
.pr h4{
    text-align: center;
}
.scroll-arrow{
    background: rgb(177, 188, 230);
    border-radius: 50px;
    position: fixed;
    right: 5px;
    bottom: 5px;
    scroll-behavior: smooth;
}
.scroll-arrow{
    width: 28px;
}
.whatsapp-icon{
    position: fixed;
    left: 5px;
    bottom: 50%;
    font-family: "Oleo Script", sans-serif;
    color: rgb(144, 238, 144);

}
.whatsapp-icon img{
    width: 50px;
    border-radius: 50px;
    background: greenyellow;
}
.contact{
    background: rgb(255, 243, 208);
    padding: 12px 80px;
}
#contact{
    scroll-behavior: smooth;
}
.contact h2{
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 1px 1px 4px blue;
}
.contact-content{
    display: flex;
    background: rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    padding: 24px 80px;
    margin: 24px auto;
    border-radius: 40px;

}
.location-ctn-ctn h4{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.location-ctn-ctn p{
    font-family: "Oswald", sans-serif;
    text-align: center;
}
.phone-ctn-ctn h4{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.phone-ctn-ctn p{
    font-family: "Oswald", sans-serif;
    text-align: center;
}
#location{
    text-align: center;
    width: 50%;
    padding: 0 40px;
    border-right: 2px solid black;
}
#location svg{
    width: 12.5rem;
}
#location-content{
    display: flex;
    justify-content: space-between;
}
#location-content h4{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}
#location-content p{
    font-family: "Merriweather", sans-serif;
}
#phone{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#phone svg{
    width: 12.5rem;
}
#phone p{
    font-family: "Merriweather", sans-serif;
}
#phone p span{
    font-family: "Montserrat", sans-serif;
}
.footer{
    background: rgb(0, 0, 0);
    padding: 24px 50px;
}
.footer article{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "Raleway", sans-serif;
    position: relative;
    bottom: 80px;
    right: 40px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
}
.comment{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 50px;
}
.comment textarea{
    border-radius: 10px;
    font-family: "Raleway", sans-serif;
}
.comment label{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: rgb(255,247,188);
    text-transform: uppercase;
}
.comment button{
    width: 35%;
    font-family: "Merriweather", sans-serif;
    text-transform: uppercase;
    background: rgb(220, 20, 60);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
}
.socials img{
    width: 100px;

}
.socials h4{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: rgb(255,247,188);
    text-transform: uppercase;
}
.address-contact{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 12px;
    height: 100%;

}
.offices{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.offices h4{
    font-family: "Montserrat", sans-serif;
    color: rgb(255,247,188);
    text-transform: uppercase;
    font-size: 20px;
}
.offices p{
    font-family: "Raleway", sans-serif;
    color: rgb(255, 255, 255);
}
.contact-address h4{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: rgb(255, 247, 188);
    text-transform: uppercase;
    font-size: 20px;
}
.contact-address p{
    font-family: "Raleway", sans-serif;
    color: rgb(255, 255, 255);
}
.contact-address span{
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 247, 188);
}
@media (max-width: 48rem){
    .pr-ctn img{
        display: none;
    }
    .second-toggler{
        display: contents;
    }
    .header-section{
        display: none;
    }
    #services-heading{
        font-size: 2.5rem;
    }
    .pr-ctn{
        display: flex;
        flex-direction: column;
        font-size: 0.75rem;
    }
    .pr h4 svg{
        width: 1.5625rem;
    }
    #pr-on{
        position: static;
        padding: 0 auto;
        border-radius:0rem;
        background:none;
               
    }
    #pr-on:hover{
        background: none;
    }
    
    .process{
        background: rgb(237, 255, 254);
        width: auto 0;
        height: auto;
        padding: 0rem;
        background: rgba(246, 118, 16, 0.1);
        border-radius: 6.875rem;
    }
    .title h2{
        font-size: 2.5rem;
        
    }
    #pr-qd{
        padding: auto 0;
    }
    .contact h2{
        font-size: 2.5rem;
    }
    #location svg{
        width: 6.25rem;
    }
    #phone svg{
        width: 6.25rem;
    }
    .contact-content{
        display: flex;
        flex-direction: column;
        width: auto;
        display: none;
    
    }
    #location-content{
        /* display: block; */
        justify-content: space-between;
    }
    #location-content p span{
        display: none;
    }
    #location{
        /* text-align: center; */
        /* width: 3.125rem; */
        padding: 0 auto;
        border-right: 0rem;
    }
    .contact-content{
        display: none;
    }
    .contact{
        border-radius: 62.5rem;
    }
    .address-contact{
        display: none;
    }
.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer article{
    position: static;
}    
#first-slide-caption{
    font-size: 1.5625rem;
}
#Second-slide-caption{
    font-size: 1.5625rem;
}
#second-slide-p{
    font-size: 0.75rem;
}
.h5{
    padding: 0 auto;
    margin: 0;
    border-radius: 3.125rem;
}
#first-slide-p{
    font-size: 0.75rem;
}
.slider-btn a{
    font-size: 0.75rem;
    border-radius: 1.5625rem;
    padding: 0.3125rem;
}
.slider-btn{
    width: 50%;
    display: flex;
    flex-direction: column;
    
}
    
}
@media (min-width: 48rem){
    .contat{
        display: none;
    }
}
@media (min-width: 75rem){

}